.App {
  text-align: center;
}

footer {
  color: #2d3a3d;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
a {
  text-decoration: underline;
  color: #2d3a3d;
}

@media (max-width: 767px) {
  footer {
    font-size: 12px;
  }
}
