.Weather {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 60px;
  color: rgb(49, 49, 49);
  padding: 0;
  font-size: 18px;
}
.Weather .Search-form button {
  background: rgb(3, 59, 179);
  border: rgb(17, 94, 156);
  border-radius: 6px;
  font-size: 15px;
  padding: 1px;
  margin-left: 5px;
  width: 130px;
}
.Search-form input {
  background: rgb(182, 220, 236);
  border: rgb(12, 141, 247);
  border-radius: 6px;
  font-size: 14px;
  width: 230px;
  height: 30px;
  visibility: visible;
  border-radius: 10px;
  border-width: 0.1px;
}
.Weather a {
  text-decoration: none;
  color: #337ca0;
}
.Weather a:hover {
  text-decoration: underline;
}
.Weather .Wrapper {
  width: 700px;
  height: 600px;
  margin: auto;
  padding: 30px 30px 0px 30px;
  border: solid 1px rgb(185, 185, 185);
  background: #fff;
  border-radius: 10px;
}
