.WeatherInfo h1 {
  font-size: 60px;
  margin-bottom: 0;
  margin-left: 15px;
  margin-top: 10px;
}
.WeatherInfo h2 {
  font-size: 62px;
  font-weight: 600;
  margin-top: 20px;
}
.WeatherInfo p {
  margin-bottom: 0;
  opacity: 0.7;
  line-height: 19px;
}
.WeatherInfo .WeatherDescription {
  margin-top: 45px;
}
.WeatherInfo .WeatherData {
  color: #07416b;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
}
.WeatherTemperature {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 10px;
}
