.WeatherForecast {
  text-align: center;
}
.WeatherForecast p {
  color: #1c1b1d;
  font-size: 2px;
}
.WeatherForecast-temp-max {
  color: black;
}
.WeatherForecast-temp-min {
  color: grey;
}
